<div class="container">
<div class="panel panel-default">
<div class="panel-body">
<table class="table">
                <thead>
                <tr>
                    <th>Question Id</th>
                    <th>Level</th>
                    <th>Price</th>
                    <th>Buy</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="i in data">
                    <td>{{i.qid}}</td>
                    <td>{{i.level}}</td>
                    <td>{{i.saleprice}}</td>
                    <td><input type="button" ng-click="buym(i.qid)" class="btn" value="Buy" /></td>
                </tr>
                </tbody>
</table>
</div>
</div>
</div>